html, body{
    margin: 0; 
    width: 100%;
    overflow-x: hidden; 
    background-color: #970830;
    /* Remove the margin on the outside of the website to make it more immersive */
}
.top {
    background-color: #970830;
    color: #002e60;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding:15px;
    width:100%;
    float: left;
    font-family:'Fantasy', 'Copperplate';
    text-shadow: 1px 1px 2px white;
    /* Design for the top each the page and the logo */
}

.bottom{
    background-color: #970830;
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    /* Design for the bottom of each page, where contact information and credits are written */
}
.container{
    position:relative;
    width: 100%;
    background-color: white;
    float: left; 
}
.form{
    /* Texts */
    text-align: center;
}
.inputbox{
    /* Input boxes */
    padding: 12px 20px;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.1s ease-in-out;
    text-align: center;
}
.inputbox:focus{
    background-color:#b0b0b0;
}
.adduser{
    /* For the buttons */
    margin-top:20px;
    margin-bottom:20px;
    padding: 12px 20px;
}
.title{
    margin-top:0px;
    padding-top:10px;
    color:#970830;
    text-align:center;
}
.pagebutton{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    text-align: center;
    color: white;
    background-color: #970830;
    text-decoration: none;
    font-size: 20px;
    font-weight:1000;
    transition: .5s ease;
    background-size:cover 
}
.pagebutton:hover{
    color: #970830;
    background-color: white;
    transition: .5s ease;
    background-size:cover 
}

.fixture_list{
    width: 100%;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;


    background-color: white;
    text-align: center;
    
}
.fixture_list:hover{
    width: 100%;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;

    background-color: #002e60;
    color: white;
    text-align: center;
    transition: .5s ease;
}
.fixture_stats{
    text-align: center;
}
.players{
    width: 25%; 
    text-align: center; 
    height: 500px; 
    float: left; 
    overflow:auto;
}